@import "tailwindcss";

:root {
  --background: #141332;
  --foreground: #1d1d41;
  --lightText: #dcd9d9;
  --lightBg: #cbc8ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightText: var(--lightText);
  --color-lightBg: var(--lightBg);
  --font-sans: var(--font-karla);
  --bg-card: url(/CardBg.svg);
}

body {
  background: var(--background);
  color: #fff;
  font-family: var(--font-karla);
}

input {
  background-color: var(--foreground) !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}
