@import "tailwindcss";

:root {
  --background: #141332;
  --foreground: #1D1D41;
  --lightText: #DCD9D9;
  --lightBg: #CBC8FF;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightText: var(--lightText);
  --color-lightBg: var(--lightBg);
  --font-sans: var(--font-karla);
}


body {
  background: var(--background);
  color: #fff;
  font-family: var(--font-karla);
}

input {
  background-color: var(--foreground) !important;
}

/* input:focus-visible{
  outline: none;
} */